# IntelliJ IDEA configurations
.idea/
META-INF/
out/

# Visual Studio Code configurations
.vscode/
*.code-workspace

# Gradle configurations
.gradle/
build/
local.properties

# Packages
node_modules/

# macOS metadata
.DS_Store
